.board-area {
    border: 2px black solid;
    min-width: 10rem;
    max-width: 30%;
    min-height: 10rem;
    margin: auto;
    background-color: beige;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
}

#input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

#player-names {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.row-div {
    display: flex;
}

.board-square {
    border: 1px black solid;
    width: 3rem;
    height: 3rem;
    background-color: aquamarine;
}